@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Jua&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'poppins';
    color: #D62757;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: #f1b8c7e1;
    display: flex;
    justify-content: center;
}

.pageHeader {
    text-align: center;
    font-weight: 700;
    padding: 20px;
    text-decoration: underline;
}

.innerContainer {
    margin-top: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    min-width: 320px;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: 10px;
}

select {
    margin-left: 10px;
}

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 70%;
    row-gap: 10px;
}

input[type="date"] {
    color: black;
}

.parentTable {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

.applyFilterButton {
    background-color: #D62757;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 2px;
}
