.outerContainer {
    display: flex;
    justify-content: center;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
}

.errorImage {
    width: 200px;
}

.errorText {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}