@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Jua&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "poppins";
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #D62757;
    margin: 0px;
    padding: 0px;
    background-color: #f1b8c7e1;
}

#main {
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
    max-width: 560px;
}

form {
    background-color: white;
    margin-top: 30px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    width: 100%;
}

.pageHeader {
    text-align: center;
    font-weight: 700;
    padding: 20px;
    text-decoration: underline;
}

select {
    color: black;
    margin-top: 5px;
    padding: 2px;
    width: 100%;
    border: 1px solid black;
}

select:focus {
    color: none;    
}

input[type="text"] {
    width: 100%;
    color: black;
    padding: 2px;
    border: 1px solid black;
}

.items {
    padding: 10px 10px;
}

.sectionHeader {
    padding: 0px;
    margin: 0px;
}

.addItemButton {
    background-color: #D62757;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.delivery {
    padding: 10px;
}

.delivery > input {
    width: 100%;
    margin-top: 5px;
}

.preview {
    padding: 10px;
}

.preview table, .preview table td, .preview table tr, .preview table th  {
    width: 100%;
    color: black;
    border-top: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

.createPurchaseButtonContainer {
    padding: 10px;
}

.createPurchase {
    background-color: #44D627;
    padding: 10px;
    color: white;
    border: none;
    font-family: "poppins";
}

.errorMessageContainer {
    padding: 10px;

}

.errorMessage {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.loadingMessageContainer {
    padding: 5px;
}

.loading {
    background-color: grey;
    padding: 5px;
    margin-top: 20px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.loadingSpinner {
    height: 20px;
    width: 20px;
    color: white;
    background-color: grey;
    border-top: 5px solid white;
    border-radius: 100%;
    margin-left: 5px;
    animation: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.successMessage {
    color: #44D627;
    text-align: center;
}

.successSupplier {
    color: black;
    margin-bottom: 5px;
}

@keyframes rotate {
    from {
        transform: rotate(0turn)
    }
    to {
        transform: rotate(1turn)
    }
}